In [58]:
import pandas as pd

In [59]:
dfBase = pd.read_excel(r'C:\Users\ibrag\OneDrive\Рабочий стол/Salaries.xlsx')
dfBase.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [60]:
dfBase[['BasePay']].mean(axis=0)

BasePay    66325.448841
dtype: float64

In [61]:
dfBase['OvertimePay'].max()

245131.88

In [62]:
dfBase[dfBase['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [63]:
dfBase[dfBase['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [64]:
dbFile = dfBase['TotalPayBenefits'].idxmax()
dfBase.loc[dbFile]['EmployeeName']

'NATHANIEL FORD'

In [65]:
dbFile = dfBase['TotalPayBenefits'].idxmin()
dfBase.loc[dbFile]['EmployeeName']

'Joe Lopez'

In [66]:
dfBase.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [67]:
dfBase['JobTitle'].nunique()

2159

In [68]:
dfBase['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [69]:
dfBase['JobTitle'].apply(lambda str:('chief' in str.lower())).sum()

627

In [70]:
(dfBase[dfBase['Year']==2013]['JobTitle'].value_counts()==1).sum()

202